---

---
<section class="flex flex-col font-medium text-primary gap-y-10 my-32">
    <div class="flex justify-center items-center">
        <a  href="https://twitch.tv/ibai"
            target="_blank"
            rel="nofollow noopener"
            class="hover:scale-125 hover:opacity-70 transition mx-auto"
            aria-label="Síguelo en directo twitch.tv/ibai"
        >
            <img src="./twitch.svg" alt="Logo de Twitch">
        </a>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 uppercase text-center">
        <article class="text-lg border-primary border-y-2 py-28 px-10 gap-x-4">
            <h5>Presentación, Pesaje, Entrevista y Cara a Cara</h5>
        </article>
        <article class="border-primary border-y-2 py-28 px-10 gap-x-4">
            <h4>Síguelo en directo twitch.tv/ibai</h4>
        </article>
        <article class="text-lg border-primary border-y-2 py-28 px-10 gap-x-4">
            <h5>Con la presencia de los boxeadores y boxeadoras</h5>
        </article>
    </div>
</section>